:root {
    --color1: #120b14;
    --color1: #123148;
    --color1: #146388;
    --color1: #1f9ed0;
    --color1: #20dbd8;
}

@media (max-width: 1037px) {
    img {
        width: 100%;
    }
}
img {
    width: 30%;
}