/* link https://paletadecores.com/paleta/1c7cc2/156cb0/0e5c9e/074c8c/003c7a/ */
nav {
    background-color: #123148;
    color: white;
    height: 200px;
    text-align: center;
}

h1 {
    margin-top: 0;
    text-align: center;
    background-color: #0a1b29   ;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#links {
    display: flex;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

#links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
#links a:hover{
    color: #1f9ed0;
    transition: 0.5s ease-in-out;
}
#logo {
    width: 200px;
}

@media (max-width: 1037px) {
    img {
        width: 100%;
    }
}
img {
    width: 30%;
}
iframe{
    width: 50%;
}
