:root {
    --primary-color: #146388;
    --secondary-color: #1f9ed0;
    --background-color: #f0f0f0;
    --text-color: #333;
    --button-color: #20dbd8;
    --button-hover-color: #1f9ed0;
}

#codigoCss{
    border-left: 100px, solid, #146388;
}

#titulo
 {
    margin-top: 0;
    text-align: center;
    background-color: #0a1b29   ;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
}

button {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0; /* Margem vertical para espaçamento */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color);
}

@media (max-width: 600px) {
    main {
        padding: 15px;
        margin: 10px;
    }

    button {
        width: 100%; /* Botões ocupam a largura total em telas pequenas */
    }
}