:root {
    --color1: #120b14;
    --color1: #123148;
    --color1: #146388;
    --color1: #1f9ed0;
    --color1: #20dbd8;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    padding: 20px;
}
h1{
    margin-left: 20px;
    text-align: center;
}
p{
    padding: 10px;
}


nav {
    background-color: #123148;
    color: white;
    /* height: 90px; */
}
button{
    height: 40px;
    border-radius: 12px;
    border: solid, #123148;     
    background-color: #146388;
    font-size: 15px;
}

#codigoCss{
    border-left: 100px, solid, #146388;
}

#titulo
 {
    margin-top: 0;
    text-align: center;
    background-color: #0a1b29   ;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
}

#links {
    display: flex;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

#links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
#links a:hover{
    color: #1f9ed0;
    transition: 0.5s ease-in-out;
}
#logo {
    width: 150px;
}
footer {
    text-align: center;
    background-color: #123148;
    display: flex;
    
    
}

footer a{
    text-decoration: none;

}